# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/venv/
venv/
.env
.env.*

# Node
frontend/node_modules/
frontend/dist/

# Dataset files
ml/data/
*.csv
*.arff

# Python cache
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log